/* CSS declarations go here */
h1 {
  font-size: 32px;
  margin: 0;
}
h2 {
  font-size: 26px;
  margin-top: 0;
}

.gaslist-items {
  li {
    margin-bottom: 10px;
  }
}

@media (max-width: 376px) {
  h1 {
    font-size: 26px;
    margin: 0;
  }

  #login-dropdown-list {
    width: auto;
  }
}
