<template name="userGaslists">
  {{#if currentUser}}
    {{#if hasGaslists}}
      <h2>My gaslists</h2>
      <div class="row">
        <ul>
        {{#each gaslists}}
          <li class="col s6">
            <h3><a href="/gaslist/{{_id}}">{{listName}}</a></h3>
            <ul class="homeListItems">
              {{#each items}}
                <li><a href="{{url}}">{{url}}</a></li>
              {{/each}}
            </ul>
            <p><a class="btn green darken-2" href="/gaslist/{{_id}}">Edit</a> | <a href="#" class="btn red darken-2 delete" data-id="{{_id}}">Delete</a></p>
          </li>
        {{/each}}
        </ul>
      </div>
      <h2>Create a new Gaslist</h2>
    {{else}}
      <h2>Create your first Gaslist</h2>
    {{/if}}

      <p class="errorMsg"></p>
      <p class="msg"></p>
      <form id="createGaslist">
        <div class="input-field">
          <label>Gaslist name</label>
          <input type="text" name="gaslistName"/>
        </div>
        <input class="btn waves-effect waves-light" type="submit" value="Submit"/>
      </form>
  {{else}}
    <p>Not logged in</p>
  {{/if}}
</template>
