<template name="showGaslist">
  <h2>{{gaslistName}}</h2>
  <p><a href="/">Back to My Gaslists</a></p>
  {{> listItems}}
  {{> addItems}}
</template>

<template name="listItems">
  <ul>
    {{#each items}}
      <li><a href="{{url}}">{{url}}</a> | <a href="#" class="btn red darken-2 delete" data-id="{{id}}" data-listid="{{gaslistId}}" data-href="{{url}}">Delete</a></li>
    {{/each}}
  </ul>
</template>

<template name="addItems">
  <h3>Add item to Gaslist</h3>
  <div class="msg"></div>
  <form id="addItemToGaslist" method="post">
    <div class="input-field">
      <label for="item">URL</label>
      <input id="item" name="item" data-id="{{_id}}" type="text" value="">
      <input class="btn waves-effect waves-light" type="submit" value="Submit"/>
    </div>
  </form>
</template>
