<template name="showGaslist">
  <div class="row">
    <h2 class="col m8">{{gaslistName.listName}}</h2>
    <p class="col m4"><a href="/" class="btn"><i class="mdi-navigation-arrow-back"></i> Back</a></p>
  </div>
  {{> listItems}}
  {{> addItems}}
</template>

<template name="listItems">
  <div class="card-panel">
    <ul class="gaslist-items">
      {{#each items}}
        <li><a href="{{url}}">{{url}}</a> | <a href="#" class="btn red darken-2 delete" data-id="{{id}}" data-listid="{{gaslistId}}" data-href="{{url}}">Delete</a></li>
      {{/each}}
    </ul>
  </div>
</template>

<template name="addItems">
  <!-- <h3>Add item to Gaslist</h3> -->
  <!-- Modal Trigger -->
  <a class="modal-trigger waves-effect waves-light btn" href="#modal1">Add item to Gaslist</a>
  <div class="msg"></div>
  {{> addItemModal}}  
</template>

<template name="addItemModal">
  <!-- Modal Structure -->
  <div id="modal1" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4>Add item URL</h4>
      <form id="addItemToGaslist" method="post">
        <div class="input-field">
          <label for="item">URL</label>
          <input id="item" name="item" data-id="{{_id}}" type="text" value="">
          <input class="btn waves-effect waves-light" type="submit" value="Submit"/>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Close</a>
    </div>
</div>

</template>
